.idea_modules/
.history/
.idea/
__pycache__/
.Python
pyvenv.cfg
.venv
pip-selfcheck.json
out
gen
*.py[cod]
*$py.class
.Python
*.log
*.sqlite*
.env
.DS_Store
.vscode/*
*.code-workspace
.pytest_cache
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
**/node_modules
.mypy_cache
.coverage
.coverage.*
/storage
frontend/src/common/pitaya-UI
.ruff_cache
/storage/public
.cert
.k8s
poetry.lock
dist